/* src/index.css or src/App.css */
@media print {
  body * {
    visibility: hidden;
  }
  .print-container, .print-container * {
    visibility: visible;
  }
  .print-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
  .no-print {
    display: none !important;
  }

  /* Page numbers */

  @page {
    margin: 15mm;
    @bottom-center {
      content: counter(page);
    }
  }
}
